<div class="loginPage px-4 pb-3 d-flex flex-column">
    <div class="d-flex flex-row">
        <%= link_to root_path, {class: 'align-self-center'} do %>
         <i class="fa fa-times closebtn" aria-hidden="true"></i>
        <% end %>
        <h1 class="text-center py-2 m-3 flex-fill">LOGIN</h1>
    </div>
    <div class="login mx-3  justify-content-center">
        <div class="col-8 col-md-12">
            <h3>Join us ... to get the best that the world of fashion can offer.</h3>
        </div>
        <%= form_for @user, url: "/session", method: :post do |form| %>
            <div class='mb-3'>
                <%= form.email_field :email, class: "form-control", :placeholder => "ex: joe@joe.com", :required => true %>
            </div>
            <div class='mb-3'>
                <%= form.password_field :password, class: "form-control", :placeholder => "Password", :required => true %>
            </div>
            <div class="d-grid gap-2">
                <%= form.submit "Login", {class: "btn w-100"} %>
            </div>
        <% end %>
        <div class="belowLink d-flex d-block align-items-center justify-content-center pt-3 mt-5">
            <%= link_to "Forgot password?", new_user_path, {class: 'belowLinkText'} %>
        </div>
    </div>
</div>
