<div class="loginPage px-4 pb-3 d-flex flex-column ">
    <div class="d-flex flex-row">
        <%= link_to root_path, {class: 'align-self-center'} do %>
         <i class="fa fa-times closebtn" aria-hidden="true"></i>
        <% end %>
        <h1 class="text-center py-2 m-3 flex-fill">LOGIN</h1>
    </div>
    <% flash.each do |name, msg| %>
        <div class='alert alert-<%= name %>'>
            <%= msg %>
        </div>
    <% end %>
    <div class="login mx-3 d-flex flex-column  justify-content-center align-contents-center">
        <div class="col-6 col-md-12">
            <h3>Log in to enter the wonderland of fashion...</h3>
        </div>
        <%= form_with model: @user, url: sessions_path do |form| %>
            <div class='mb-3 '>
                <%= form.email_field :email, class: "form-control inputField p-2", :placeholder => "ex: joe@joe.com", :required => true %>
            </div>
            <div class='mb-3 '>
                <%= form.password_field :password, class: "form-control inputField p-2", :placeholder => "Password", :required => true %>
            </div>
            <div class="d-grid gap-2">
                <%= form.submit "Login", {class: "btn w-100 submitBtn"} %>
            </div>
        <% end %>
        <div class="d-grid gap-2">
            <%= button_to "Twitter Login", "/auth/twitter", method: :post, class: "twitterBtn btn btn-primary mt-3" %>
        </div>
        <div class="belowLink d-flex d-block align-items-center justify-content-center pt-3 mt-5 ">
            <%= link_to "Forgot password?", new_user_path, {class: 'belowLinkText pr-3'} %> 
            <h2>|</h2>
            <%= link_to "Not a User, Signup here?", new_user_path, {class: 'belowLinkText pl-3'} %>
        </div>
        
        
    </div>
</div>
