<div class="main-body">
    <% flash.each do |name, msg| %>
        <div class='alert alert-<%= name %>'>
            <%= msg %>
        </div>
    <% end %>
    <%= form_with url: user_path(current_user.id), method: :put do |form| %>
        <div class='mb-3 '>
            <%= form.password_field :newEmail, class: "form-control p-2", :placeholder => "NewEmail", :required => true %>
        </div>
        <div class="d-grid gap-2">
            <%= form.submit "Change Email", {class: "btn w-100 submitBtn"} %>
        </div>
    <% end %>
    <%= form_with url: user_path(current_user.id), method: :put do |form| %>
        <div class='mb-3 '>
            <%= form.password_field :newPassword, class: "form-control p-2", :placeholder => "New Password", :required => true %>
        </div>
        <div class='mb-3 '>
            <%= form.password_field :newPasswordConfirmation, class: "form-control p-2", :placeholder => "Confirm New Password", :required => true %>
        </div>
        <div class="d-grid gap-2">
            <%= form.submit "Change Password", {class: "btn w-100 submitBtn"} %>
        </div>
    <% end %>
</div>