<div class="signupPage px-4 pb-3 d-flex flex-column">
    <div class="d-flex flex-row">
        <%= link_to root_path, {class: 'align-self-center'} do %>
         <i class="fa fa-times closebtn" aria-hidden="true"></i>
        <% end %>
        <h1 class="text-center py-2 m-3 flex-fill">SIGNUP</h1>
    </div>
    <div class="signup mx-3 d-flex flex-column justify-content-center align-contents-center">
        <div class="col-8 col-md-12">
            <h3>Join us ... to get the best that the world of fashion can offer.</h3>
        </div>
        <% flash.each do |name, msg| %>
                <div class='alert alert-<%= name %>'>
                    <%= msg %>
                </div>
        <% end %>
        <%= form_with model: @user, url: users_path do |form| %>
            <%= render 'shared/error_messages'%>
            <div class='mb-3'>
                <%= form.text_field :name, class: "form-control p-2", :placeholder => "Name", :required => true, :autofocus => true %>
            </div>
            <div class='mb-3'>
                <%= form.email_field :email, class: "form-control p-2", :placeholder => "ex: joe@joe.com", :required => true %>
            </div>
            <div class='mb-3'>
                <%= form.password_field :password, class: "form-control p-2", :placeholder => "Password - it should be 8-20 characters long, should not contain special chararacters", :required => true %>
            </div>
            <div class='mb-3'>
                <%= form.password_field :password, class: "form-control p-2", :placeholder => "Confirm-Password", :required => true %>
            </div>
            <div class="d-grid gap-2">
                <%= form.submit "Signup", {class: "btn w-100 signupBtn"} %>
            </div>
            <div class="d-grid gap-2">
            <%= button_to "Twitter Login", "/auth/twitter", method: :post, class: "twitterBtn btn btn-primary mt-3" %>
            </div>
        <% end %>
        <div class="belowLink d-flex d-block align-items-center justify-content-center pt-3 mt-5">
            <%= link_to "Already a User?", new_session_path, {class: 'belowLinkText'} %>
        </div>
    </div>
</div>