<div class="main-body">
    <div class="profile-banner d-flex flex-column justify-content-around pl-5">
        <%= gravatar_for @user %>
        <h1 class="user-name"><%= @user.name %></h1>
    </div>
    <% flash.each do |name, msg| %>
        <div class='alert alert-<%= name %>'>
            <%= msg %>
        </div>
    <% end %>
    <div class="user-options pt-5">
        <ul>
            <li>
                <%= link_to cart_path(@user.cart_id), class: "link d-flex flex-row" do %>
                    <%= fa_icon "hourglass-half" %>
                    <h1>Pending orders</h1>
                <% end %>
            </li>
            <li>
                <%= link_to edit_user_path(@user.cart_id), class: "link d-flex flex-row" do %>
                    <%= fa_icon "user-plus" %>
                    <h1>Update login details</h1>
                <% end %>
            </li>
            <li>
                <%= button_to home_newsletter_update_path, method: :put, class: "link d-flex flex-row" do %>
                    <%= fa_icon "envelope" %>
                    <h1>Turn <%= @newsletterTurnedOn ? "off" : "on" %> Subscription</h1>
                <% end %>
            </li>
            <% if current_user.admin %>
            <li>
                <%= link_to admins_saved_items_path, class: "link d-flex flex-row" do %>
                    <%= fa_icon "bookmark" %>
                    <h1>Saved Items Summary</h1>
                <% end %>
            </li>
            <li>
                <%= link_to admins_purchased_items_path, class: "link d-flex flex-row" do %>
                    <%= fa_icon "shopping-cart" %>
                    <h1>Purchased Items Summary</h1>
                <% end %>
            </li>
            <li>
                <%= link_to admins_ratings_summary_path, class: "link d-flex flex-row" do %>
                    <%= fa_icon "star" %>
                    <h1>Ratings Summary</h1>
                <% end %>
            </li>
            <li>
                <%= link_to admins_newsletter_subscriptions_path, class: "link d-flex flex-row" do %>
                    <%= fa_icon "envelope" %>
                    <h1>Newsletter Subscriptions</h1>
                <% end %>
            </li>
            
            <% end %>
            <li>
                <%= button_to session_path, method: :delete, class: "link d-flex flex-row" do %>
                    <%= fa_icon "sign-out" %>
                    <h1>Logout</h1>
                <% end %>
            </li>
        </ul>
    </div>
</div>