<%= render "layouts/header" %>
<section id="topBanner">
    <% if @bannerProduct %>
        <div id="banner">
            <img class="bannerImage img-thumbnail figure-img img-fluid rounded" src="<%= @bannerProduct.photoURL %>">
            <div class="bannerInfo">
                <div class="bannerInfoText">
                    <h1><%= @bannerProduct.name %></h1>
                    <h2><%= number_to_currency(@bannerProduct.price) %></h2>
                </div>
                  <%= button_to "+", savedlist_update_path(:product_id => @bannerProduct.id), {class: 'btn btn-primary btn-lg'} %>
            </div>
        </div>
    <% end %>
    <div id="popular">
        <h1>Popular Items</h1>
        <% @popularItems.each do |product| %>
            <%= link_to image_tag(product.photoURL), savedlist_update_path(:product_id => product.id), method: "post" %>
            <h1><%= product.name %></h1>
            <h2><%= number_to_currency(product.price) %></h2>
            
            <% if product.savedlists.find_by(id: @currentUserSavedlist.id) %>
                <i class="fa fa-check-circle"></i>
            <% end %>
            
        <% end %>
    </div>
    <div class="collections">
        <% @collections.each do |collection| %>
            <div class="card" style="width: 18rem;">
                <% if collection.products.count > 0 %>
                  <img src="<%= collection.products.first.photoURL %>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%= collection.name %></h5>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="newsletter">
        NewsLetter
        <% flash.each do |name, msg| %>
            <div class='alert alert-<%= name %>'>
                <%= msg %>
            </div>
        <% end %>
        <%= form_with url: home_newsletter_path do |form| %>
            <%= form.text_field :email %>
            <%= form.submit "Send Email" %>
        <% end %>
    </div>
</section>
