<%= render "layouts/header" %>
<section id="topBanner">
    <% if @bannerProduct %>
        <div id="banner">
            <img class="bannerImage img-thumbnail figure-img img-fluid rounded" src="<%= @bannerProduct.photoURL %>">
            <div class="bannerInfo">
                <div class="bannerInfoText">
                    <h1><%= @bannerProduct.name %></h1>
                    <h2><%= number_to_currency(@bannerProduct.price) %></h2>
                </div>
                  <%= button_to "+", savedlist_path(@bannerProduct.id), method: :put, :class => "btn btn-primary btn-lg" %>
            </div>
        </div>
    <% end %>
    <div id="popular">
        <h1>Popular Items</h1>
        <% @popularItems.each do |product| %>
            <%= link_to image_tag(product.photoURL), savedlist_path(product.id), method: "put" %>
            <h1><%= product.name %></h1>
            <h2><%= number_to_currency(product.price) %></h2>
        <% end %>
    </div>
    <div>
        NewsLetter
        <% flash.each do |name, msg| %>
            <div class='alert alert-<%= name %>'>
                <%= msg %>
            </div>
        <% end %>
        <%= form_with url: home_newsletter_path do |form| %>
            <%= form.text_field :email %>
            <%= form.submit "Send Email" %>
        <% end %>
    </div>
</section>
