<%= render "layouts/header" %>
<h3 class="mt-5">
  Shopping Bag
  <small class="text-muted">Have a great shopping!</small>
</h3>
<ul>
  <% if @cart.cart_items.count > 0 %>
    <% @cart.cart_items.each do |cart_item| %>
      <%= render "cart_items/show", item: cart_item %>
    <% end %>
  <% end %>
</ul>
<h3>Sub total: <%= number_to_currency(totalPrice(@cart)) %></h3>
<%= link_to "Checkout", cart_path(@cart.id), method: "put", class: "link" %><br>
# <%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"} %>