<%= render 'layouts/header' %>
<div class="mt-5">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
           <% @product.ppictures.each do |picture| %>
          <div class="carousel-item active">
            <img src="<%= picture.photoURL %>" class="d-block w-100" alt="...">
          </div>
            <% end %>
     </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="product-info">
    <%= @product.stocks.distinct.pluck(:size) %>
    <%= form_with url: product_path(@product.id, :size, :colour), class: "form-select" do |form| %>
      <%= form.label :size, "Size: " %>
      <%= form.select :size, @product.stocks.distinct.pluck(:size) %>
      <%= form.label :colour, "Colour: " %>
      <%= form.select :colour, @product.stocks.distinct.pluck(:colour) %>
    <% end %>
    <%= @stock.quantity %>
    <%= @stockQuantity %>
    <select class="form-select" aria-label="Default select example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
</div>
