<footer class="footer bg-light">
    <ul class="d-flex flex-row footer-options">
        <li class="option d-flex justify-content-around align-items-center">
            <%= link_to root_path, class: "link d-flex flex-column justify-content-center align-items-center" do %>
                <%= fa_icon "home", class: "option-icon" %>
                <p class="option-title">Home</p>
            <% end %>
        </li>
        <li class="option d-flex justify-content-around align-items-center">
            <%= link_to root_path, class: "link d-flex flex-column justify-content-center align-items-center" do %>
                <%= fa_icon "barcode", class: "option-icon" %>
                <p class="option-title">Scan</p>
            <% end %>
        </li>
        <li class="option d-flex justify-content-around align-items-center">
            <%= link_to savedlist_path(@currentUserSavedlist.id), class: "link d-flex flex-column justify-content-center align-items-center" do %>
                <%= fa_icon "bookmark", class: "option-icon" %>
                <p class="option-title">Saved</p>
            <% end %>
        </li>
        <li class="option d-flex justify-content-around align-items-center">
            <%= link_to user_path(@current_user ? @current_user.id : 0), class: "link d-flex flex-column justify-content-center align-items-center" do %>
                <%= fa_icon "user", class: "option-icon" %>
                <p class="option-title">Account</p>
            <% end %>
        </li>
    </ul>
</footer>