<header class="pt-5 pb-5">
  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="d-flex justify-content-center container-fluid ">
      <div class="navbar-brand mb-0 h1">
        <%= link_to "Shopping App", root_path, class: "link title" %>
      </div>
    </div>
    
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="icon fa fa-bars" aria-hidden="true"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% (Category.all).each do |category| %>
          <li class="nav-item">
            <%= link_to category.name, category_path(category.id), {class: "nav-link"}%>
          </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Saved Products", savedlist_path(@currentUserSavedlist.id), {class: "nav-link"}%>
          </li>
        </ul>
      </div>
      <div>
        <% if defined?(@filterOption) != nil %>
          <%= link_to filter_index_path do %>
            <i class="fa fa-filter p-2" aria-hidden="true"></i>
          <% end %>
        <% end %>
        <%= link_to cart_path(current_user ? current_user.cart_id : 0) do %>
          <i class="fa fa-shopping-bag p-2" aria-hidden="true"></i>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
          <i class="icon fa fa-bars" aria-hidden="true"></i>
        </button>
         <div class="collapse navbar-collapse" id="navbarNav2">
          <ul class="navbar-nav">
            <li class="nav-item">
              
              <%= form_with url: product_search_path, class: "d-flex" do |form| %>
                <%= form.text_field :search, class: "form-control me-2" %>
                <%= form.submit "Search", class: "btn btn-outline-success" %>
              <% end %>
              
              
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>